/* Wrapper for Sidebar and Content */
.wrapper {
    display: flex;
    width: 100%;
}

/* Sidebar */
#sidebar {
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: #e9ecef;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #e9ecef;
}

#sidebar a#current_workbook {
    font-weight: bold;
    background: powderblue;
}

#sidebar a#current_folder {
    background: lightcyan;
}

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    color: #288efd;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: red;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: white;
    background: #288efd !important;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* Content */
#content {
    width: calc(100% - 250px);
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* Media queries */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}