{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta nema="product" content="{{ product_name }}">
    <meta nema="version" content="{{ product_version }}">
    <meta name="author" content="Fabio Castelli (Muflone)">
    <title>{{ page_title }}</title>
{% if load_pygments %}
    <!-- Pygments -->
    <link rel="stylesheet" type="text/css" href="{% static 'django_pygments/css/pygments_default.css' %}" />
{% endif %}
{% if load_bootstrap %}
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'snippets/css/bootstrap.min.css' %}" />
{% endif %}
{% if load_sidebar %}
    <!-- Sidebar Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'snippets/css/sidebar.css' %}" />
{% endif %}
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'snippets/css/custom.css' %}" />
