{% load get_workbook_pk_by_name %}
{% load get_workbook_url_by_pk %}
{% load get_folder_url_by_pk %}
      <!-- Sidebar -->
      <nav id="sidebar">
        <div class="sidebar-header">
            <h3>{{ product_name }}</h3>
            <h5 class="text-center">Version {{ product_version }}</h5>
        </div>

        <ul class="list-unstyled">
          <li><a href="{% url 'snippets.index' %}">Index</a></li>
{% for workbook_name, folders_list in all_folders.items %}
          <li>
            <a href="#workbook_{{ all_workbooks | get_workbook_pk_by_name:workbook_name}}"
               data-toggle="collapse" aria-expanded="{% if workbook.name == workbook_name %}true{% else %}false{% endif %}"
               {% if all_folders %}class="dropdown-toggle"{% endif %}>{{ workbook_name }}</a>
  {# Add children folders #}
            <ul class="list-unstyled collapse {% if workbook.name == workbook_name %}show{% endif %}" id="workbook_{{ all_workbooks | get_workbook_pk_by_name:workbook_name }}">
              <li><a href="{{ all_workbooks | get_workbook_url_by_pk:workbook_name }}">Workbook Index</a></li>
  {% for item in folders_list %}
              <li><a href="{{ item | get_folder_url_by_pk }}">{{ item.name }}</a></li>
  {% endfor %}
            </ul>
          </li>
{% endfor %}
        </ul>
      </nav>
